<table>
    <tr>
        <td><a href="/login.html"><center>ACCOUNT</center></a></td>
    </tr>
    <tr>
        <td><a href="/pong.html"><center>PLAY PONG HERE</center></a></td>
    </tr>
</table>

<center>
<form>
    <label for="page-selector">Extra:</label>
    <select id="page-selector" onchange="location = this.value;">
      <option value="#">Select an option</option>
      <option value="aboutus.html">About Us</option>
      <option value="manifesto.html">Our Manifesto</option>
      <option value="visionboard.html">Vision Board</option>
    </select>
  </form>
</center>